@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: rgb(217, 222, 213);
}

header nav a {
  margin: 0 1em;
  color: beige;
  text-decoration: none;
}

header {
  background-color: rgb(129, 134, 134);
  height: 12vh;
}

.logoHomeAbout {
  display: flex;
  padding: 1vh 1vw;
  justify-content: space-between;
  align-items: center;
}